<!doctype html>
<html>

<head>
  <title>
    <%= json.project.title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Safari, you're the worst -->
  <meta name='format-detection' content='telephone=no'>
  <link rel="stylesheet" type="text/css" href="style.css">
  <%= t.include("partials/_head.html") %>
</head>

<body>

  <responsive-child class="map-container">
    <div class="outmost">
      <section class="chatter">
        <h1>Seattle’s unequal growth</h1>
        <p>Seattle has grown faster than any other major U.S. city since 2010, but the distribution of that growth has varied from more than 100 percent in some neighborhoods to less than 5 percent in others.</p>
      </section>

      <div class="aspect-ratio-outer">
        <div class="aspect-ratio-inner">

          <leaflet-map zoom=10.5>
            <map-options>{ "zoomSnap": 0.5 }</map-options>
            <tile-layer layer="cartoPositron"></tile-layer>
            <geo-json>
              <geo-data>
                <%= t.include("population-growth.geo.json") %>
              </geo-data>
              <geo-style>{ "weight": 1, "color": "#000", "opacity":0.1, "fillOpacity": 0.5 }</geo-style>
              <geo-palette property="population_growth">
                <color-mapping max=0.1 color="#edf8e9"></color-mapping>
                <color-mapping min=0.1 max=0.2 color="#bae4b3"></color-mapping>
                <color-mapping min=0.2 max=0.4 color="#74c476"></color-mapping>
                <color-mapping min=0.4 color="#238b45"></color-mapping>
              </geo-palette>
              <geo-popup>
                <h1 class="bigheader">{{population_growth}}</h1>
              </geo-popup>
            </geo-json>
          </leaflet-map>

        </div>
        <aside class="legend">
          <h1>Population growth, 2010-2017</h1>
          <ul class="scale">
            <li>
              <span class="block" style="background-color: #edf8e9"></span> Less than 10%</li>
            <li>
              <span class="block" style="background-color: #bae4b3"></span> 10-19%</li>
            <li>
              <span class="block" style="background-color: #74c476"></span> 20-39%</li>
            <li>
              <span class="block" style="background-color: #238b45"></span> Greater than 40%</li>
          </ul>
        </aside>
      </div>


      <div class="source">Source: Washington Office of Financial Management
        <span class="credit">Alec Glassford / THE SEATTLE TIMES</div>
    </div>
  </responsive-child>

  <script src="app.js"></script>
  <% /*= t.include("partials/_foot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
</body>

</html>
