<!doctype html>
<html>

<head>
  <title>
    <%= json.project.title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Safari, you're the worst -->
  <meta name='format-detection' content='telephone=no'>
  <link rel="stylesheet" type="text/css" href="style.css">
  <%= t.include("partials/_head.html") %>
</head>

<body>

  <responsive-child class="map-container">
    <div class="outmost">
      <section class="chatter">
        <h1>Seattle’s unequal growth</h1>
        <p>Seattle has grown faster than any other major U.S. city since 2010, but the distribution of that growth has varied from more than 100 percent in some neighborhoods to less than 5 percent in others.</p>
      </section>

      <div class="location-search">
        <input type="search" placeholder="Address">
        <button autocomplete="false">Find census tract</button>
      </div>
      <div class="aspect-ratio-outer">
        <div class="aspect-ratio-inner">

          <leaflet-map zoom=8 lat="47.52" lng="-122.05">
            <map-options>{ "zoomSnap": 1 }</map-options>
            <tile-layer layer="cartoPositronBlank"></tile-layer>
            <geo-json id="population-layer">
              <geo-data>
                <%= t.include("population-growth.geo.json") %>
              </geo-data>
              <geo-style>{ "weight": 1, "color": "#000", "opacity":0.1, "fillOpacity": 0.5 }</geo-style>
              <geo-palette property="populationGrowthPercent">
                <color-mapping max=-0.1 color="#7bccc4"></color-mapping>
                <color-mapping min=0 max=9.9 color="#e1efd0"></color-mapping>
                <color-mapping min=10 max=19.9 color="hsl(111, 47%, 79%)"></color-mapping>
                <color-mapping min=20 max=29.9 color="hsl(116, 41%, 58%)"></color-mapping>
                <color-mapping min=30 color="hsl(125, 40%, 35%)"></color-mapping>
              </geo-palette>
            </geo-json>
          </leaflet-map>

        </div>
        <aside class="legend">
          <h1>Population growth, 2010-2017</h1>
          <ul class="scale">
            <li>
              <span class="block" style="background-color: #7bccc4"></span> Population decrease</li>
            <li>
              <span class="block" style="background-color: #e1efd0"></span> 0-9%</li>
            <li>
              <span class="block" style="background-color: hsl(111, 47%, 79%)"></span> 10-19%</li>
            <li>
              <span class="block" style="background-color: hsl(116, 41%, 58%)"></span> 20-29%</li>
            <li>
              <span class="block" style="background-color: hsl(125, 40%, 35%)"></span> 30% or more</li>
          </ul>
        </aside>
      </div>


      <div class="source">Source: Washington Office of Financial Management
        <span class="credit">Alec Glassford / THE SEATTLE TIMES</div>
    </div>
  </responsive-child>

  <script src="app.js"></script>
  <% /*= t.include("partials/_foot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
</body>

</html>
